<h1>Ziyaret Ettigim Sehirler</h1>

<% sehirler.forEach(function(sehir){ %>
	
	 <li> <%= sehir %> </li> 

<% }); %>


<form action ="sehirEkle" method="POST">
	<input type ="text" name ="yeniSehir" placeholder="Sehir">
	<button>Yeni Sehir Ekle </button>

</form>